#app-menu {
    font-size: 14px;
    z-index: 9800;
    background-color: var(--menu-bg);
    border-bottom: 1px solid var(--menu-border);
    color: var(--menu-fg);
}

.menu-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.menu-bar {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0 4px;
    margin: 0;
    color: var(--menu-fg);
}

.menu-item {
    position: relative;
    padding: 8px 12px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: var(--menu-hover-bg);
}

.menu-item label {
    font-weight: normal;
    margin: -2px 0;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 4px 0;
    list-style: none;
    min-width: 180px;
    z-index: 100;
    background-color: var(--submenu-bg);
    border: 1px solid var(--menu-border);
}

.submenu li {
    padding: 6px 16px;
    cursor: pointer;
    color: var(--submenu-fg);
}

.submenu li:hover {
    background: #eee;
    background-color: var(--submenu-hover-bg);
}

.submenu .separator {
    border-top: 1px solid var(--submenu-separator);
    margin: 4px 0;
    padding: 0;
    height: 0;
}

#menu-context-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-item .switch {
    height: 22px;
    padding: 0px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 1.2em;
    padding: 1em 0.5em;
}

.about-icon {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.about-text h3 {
    margin: 0 0 0.3em;
}

.about-text p {
    margin: 0.3em 0;
}