.meta-section {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--meta-section-bg);
  border: 1px solid var(--meta-section-border);
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 15px;
  color: var(--meta-section-text-color);
  font-size: var(--meta-section-font-size);
  font-family: monospace, monospace;
  white-space: pre-line;
}

.meta-section p {
  flex: 1 1 auto;
  margin: 0;
  line-height: 1.4;
  overflow-wrap: break-word;
}

.meta-section .flagged-toggle-container {
  position: absolute;
  top: 0px;
  right: 0px;
}